.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

.chosenBox {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 70%;
    height: fit-content;
    margin: 1em 0;
}

.inputWithSave {
    display: flex;
    flex-direction: row;
}

.saveBtn {
    font-size: .8em;
    background-color: #fff;
    color: #04b3d1;
    border-radius: 5px;
    border: #fff;
    margin: 1.5em .5em;
    padding: .5em;
}

.saveBtn:hover {
    background-color: #04b3d1;
    color: #fff;
}

.btnBox {
    display: flex;
    flex-direction: row;
    margin: 0 .5em 1em .5em;
}

.colorItem {
    display: flex;
    flex-direction: row;
    margin: .5em;
    width: fit-content;
    height: fit-content;
    padding: .5em;
    border: 1px solid oldlace;
    border-radius: 8px;
}

.colorItem:hover {
    border: 1px solid azure;
    border-radius: 8px;
    background-color: azure;
}

.colorName {
    margin: .5em;
}

.instructions {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 15em;
    flex-direction: row;
}

.mobileInstructions {
    margin: 0 1em 1em 1em;
}

.header {
    font-family: 'Monoton', cursive;
    font-size: 3em;
}

.active {
    padding: .5em;
    font-size: 1em;
    background-color: #04b3d1;
    color: #fff;
    border-radius: 5px;
    border: #04b3d1;
    margin: .5em;
}

.inactive {
    padding: .5em;
    font-size: 1em;
    background-color: #fff;
    color: #04b3d1;
    border-radius: 5px;
    border: #fff;
    margin: .5em;
}
.inactive:hover {
    background-color: #04b3d1;
    color: #fff;
}

.swapBtn {
    font-size: .8em;
    background-color: #fff;
    color: #04b3d1;
    border-radius: 5px;
    border: #fff;
    margin: auto .5em;
    padding: 1em;
}

.swapBtn:hover {
    background-color: #04b3d1;
    color: #fff;
}

.colorSelect {
    font-size: .8em;
    background-color: #fff;
    color: #04b3d1;
    border-radius: 5px;
    border: #fff;
    padding: 1em;
}

.infoIcon {
    width: 100px;
    height: 100px;
}

@media (max-width: 967.98px) {
    .instructions {
        width: 100%;
    }
    .chosenBox {
        display: grid;
        grid-template-columns: auto auto auto;
        width: 100%;
    }
}

@media (max-width: 624.98px) {
    .btnBox {
        display: grid;
        grid-template-columns: auto;
    }
    .swapBtn, .colorSelect {
        margin: .5em;
    }
    .chosenBox {
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
    }
    .instructions {
        display: none;
    }
}

@media (min-width: 624.98px) {
    .mobileInstructions, .infoIcon {
        display: none;
    }
}